*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background: #bdbdbd;
}
.navbar{
    width: 100%;
    
}
.nav-list{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0.5rem;
    width: 50px;
    height: 50px;
}
.nav-list li:nth-child(3){
    font-size: 2rem;
}
.nav-list-link:hover{
    font-size: 2rem;
}
.line{
    height: 2px;
    background-color: #000000;
}
.grouping-handle-section{
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#group{
    width: 40%;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}
#product{
    width: 75%;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
fieldset{
    width: 100%;
    padding: 1rem;
    border-color: #aaaaaa;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
legend{
    font-size: large;
}
input{
    padding: 0.5rem;
}
button{
    padding: 0.5rem;
}
select{
    width: 8rem;
    padding: 0.5rem;
}
#product-number{
    width: 5rem;
}
#number-label{
    margin-left: 1rem;
}
#product-label{
    margin-left: 1rem;
}
.products{
    width: 100vw;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product{
    margin: 0.5rem;
    width: 60%;
    height: 50px;
    padding: 15px;
    background-color: #bdbdbd;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 6px 6px 15px -7px ;
}
.delete-btn{
    padding: 0.5rem 1rem;
    border: none;
    background-color: #efefef;
    border-radius: 4px;
    margin-left: 40px;
}
.delete-btn:hover{
    background-color: rgb(185, 183, 183);
}
.delete-btn:active{
    background-color: #fff;
}